.container-footer-main {
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.1);
}

.box-text-footer>span {
    margin: 8px 10px 10px;
    text-align: center;
    font-weight: 400;
    color: black;
}

.footer-title {
    font-size: 1rem;
}

.footer-desc {
    font-size: .7rem;
}