* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background-color: mediumslateblue;
}

nav {
    height: 6rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

li {
    list-style: none;
}

.nav-box-btn-home {
    display: flex;
    margin: 0 5%;
}

.nav-btn-home {
    border: none;
    margin: 10px;
    padding: 16px 24px;
    border-radius: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    color: aliceblue;
    background-color: rgba(72, 21, 190, 0.3);
}

.nav-btn-home:hover {
    font-weight: 700;
    color: aliceblue;
}

.container-section-home {
    flex-direction: row;
}

.wrap-item-home {
    width: 80%;
    padding-left: 10%;
    margin-left: 5%;
}

.text-title-home {
    font-size: 6rem;
    font-weight: 700;
    color: aliceblue;
}

.text-desc-home {
    width: 70%;
    font-size: 1.2rem;
    font-weight: 400;
    word-break: keep-all;
    line-height: 36px;
    color: aliceblue;
}

.box-img-home {
    display: flex;
}

.img-home {
    width: 60%;
    margin: auto;
}


@media screen and (max-width: 768px) {
    .container-home {
        display: block;
        align-items: center;
        margin: 10% 0;
    }

    .wrap-item-home {
        width: 90%;
        margin: auto;
        padding-left: 10%;
    }

    .text-desc-home {
        width: 90%;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 36px;
    }
}