* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background-color: #EFEFEF;
}

input {
    outline: none;
    border: none;
}

#editor {
    background-color: white;
}

.container-project-post {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrap-project-post {
    width: 70%;
    height: 80%;
}

.box-title-post>h1 {
    font-weight: 500;
}

.title-project-post {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

.box-info-project {
    margin: 20px 0;
}

.box-search-project-post {
    /* background-color: aqua; */
}

.info-project-post,
.input-search-project-post {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
}

.box-thumnail-project-post {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 12px;
    font-size: 1rem;
    font-weight: 300;
    border: 1px solid gainsboro;
    border-radius: 10px;
    background-color: whitesmoke;
}

.box-thumnail-project-post:hover,
.box-thumnail-project-post>label:hover {
    background-color: gainsboro;
    cursor: pointer;
}

.img-thumnail-project-post[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.img-thumnail-project-post,
.img-base-project-post {
    width: 300px;
    max-width: 300px;
    background-color: aqua;
}

.box-btn-project-post {
    margin: 20px 0;
}

.btn-project-submit {
    border: none;
    padding: 10px 12px;
    font-size: 1.2rem;
    color: aliceblue;
    background-color: black;
}

.btn-project-submit:hover {
    background-color: rgb(75, 0, 226);
}

.skills-tag {
    padding: 3px 10px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: rgb(4, 73, 201);
    color: whitesmoke;
    text-align: center;
}


.box-search-tag {
    display: flex;
    overflow: auto;
}