* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

/* Fixed Button */
.btn-fixed-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.btn-fixed-container>button {
    display: block;
    width: 200px;
    border: none;
    margin: 10px;
    padding: 15px 0;
    font-size: 1.2rem;
    color: aliceblue;
    cursor: pointer;
}

.btn-chat-open {
    background-color: rgb(75, 0, 226);
}

.btn-chat-open:hover,
.btn-project-regist:hover {
    font-weight: 700;
}

.btn-project-regist {
    background-color: black;
}


/* Chat Room List */
.chat-list {
    display: none;
    z-index: 999;
    position: absolute;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: gainsboro;
}

.btn-chat-close, .btn-chat-room-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    font-size: 32px;
    color: black;
    background-color: transparent;
    cursor: pointer;
}

.box-text-title-chat, .box-text-title-room {
    margin: 20px 20px;
}

.text-title-chat, .text-title-room {
    font-size: 1.5rem;
    color: black;
}

.container-profile-chat-list {
    display: block;
    margin: 30px 20px;
}

.wrap-profile-chat-list {
    display: flex;
    margin: 20px 0;
}

.box-text-chatlist {
    margin-left: 20px;
}

.box-text-user {
    display: flex;
}

.box-text-user>button {
    border: none;
    margin-left: 20px;
    font-size: .5rem;
    font-weight: 600;
    color: aliceblue;
    background-color: black;
    cursor: pointer;
}

.text-profile-desc {
    display: block;
    margin: 3px 0;
    font-size: .8rem;
    color: black;
}

.text-profile-name {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.text-profile-desc {
    font-weight: lighter;
}

.img-profile, .img-profile-modal {
    width: 3rem;
}


/* Chatting */
.chat-container {
    display: none;
    z-index: 999;
    position: absolute;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: gainsboro;
}

.box-chat-partner-user, .box-chat-room-list{
    height:70vh;
    overflow-y:scroll;
}
.wrap-profile-chat {
    display: inline-block;
}

.box-text-profile-chat {
    margin: 5px 10px;
    padding: 10px;

}

.box-text-chat {
    display: inline-block;
    padding: 10px;
    margin: 5px 15px;
    border-radius: 12px;
    color: aliceblue;
    background-color: rgb(75, 0, 226);
}

.box-text-chat-user {
    background-color: black;
}

.text-chat-date {
    padding: 2px;
    font-size: .7rem;
}

.text-chat-name {
    font-size: 1rem;
}

.box-input-chat {
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.input-chat {
    border: none;
    outline: none;
    width: 70%;
    margin: 15px;
    padding: 10px;
    border-radius: 7px;
    font-size: 1rem;
}

.btn-chat {
    border: none;
    padding: 10px;
    font-weight: 600;
    color: aliceblue;
    background-color: rgb(75, 0, 226);
}


/* User Profile */
.container-profile-modal {
    display: none;
}

.wrap-profile-modal {
    display: inline-block;
    padding: 30px 30px;
    border-radius: 14px;
    background-color: gainsboro;
}

.box-close-modal {
    float: right;
    color: aliceblue;
    background-color: transparent;
}

.btn-profile-modal {
    border: none;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
}

.box-profile-modal {
    display: flex;
}

.box-text-modal {
    margin-left: 20px;
}

.box-text-modal>span {
    display: block;
}

.box-btn-modal>button {
    border: none;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    color: aliceblue;
    font-size: 1rem;
    background-color: rgb(75, 0, 226);
}

.box-btn-modal>button:hover {
    font-weight: 700;
}