* {
    box-sizing: border-box;
}

html,
body,
aside,
section {
    height: 100%;
}

.box-chat-room-list {
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background-color: #EFEFEF;
}


/* 채팅, 프로젝트 등록 고정 버튼 */
.btn-fixed-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.btn-fixed-container>button {
    display: block;
    width: 200px;
    border: none;
    margin: 10px;
    padding: 15px 0;
    font-size: 1.2rem;
    color: aliceblue;
    cursor: pointer;
}

.btn-chat-open {
    background-color: rgb(75, 0, 226);
}

.btn-chat-open:hover,
.btn-project-regist:hover {
    font-weight: 700;
}

.btn-project-regist {
    background-color: black;
}


/* 채팅룸 리스트 */
.chat-list {
    display: none;
    z-index: 1;
    position: absolute;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: gainsboro;
}


.btn-chat-close,
.btn-chat-room-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    font-size: 32px;
    color: black;
    background-color: transparent;
    cursor: pointer;
}


.box-text-title-chat,
.box-text-title-room {
    margin: 20px 20px;
}

.text-title-chat,
.text-title-room {
    font-size: 1.5rem;
    color: black;
}

.container-profile-chat-list {
    display: block;
    margin: 30px 20px;
}

.wrap-profile-chat-list {
    display: flex;
    margin: 20px 0;
}

.box-text-chatlist {
    margin-left: 20px;
}

.box-text-user {
    display: flex;
}

.box-text-user>button {
    border: none;
    margin-left: 20px;
    font-size: .5rem;
    font-weight: 600;
    color: aliceblue;
    background-color: black;
    cursor: pointer;
}

.text-profile-desc {
    display: block;
    margin: 3px 0;
    font-size: .8rem;
    color: black;
}

.text-profile-name {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.text-profile-desc {
    font-weight: lighter;
}

.img-profile,
.img-profile-modal {
    width: 3rem;
}


/* 채팅 */
.chat-container {
    display: none;
    z-index: 999;
    position: absolute;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: gainsboro;
}


.box-chat-partner-user,
.box-chat-room-list {
    height: 70vh;
    overflow-y: scroll;
}

.wrap-profile-chat {
    display: inline-block;
}

.box-text-profile-chat {
    margin: 5px 10px;
    padding: 10px;

}

.box-text-chat {
    display: inline-block;
    padding: 10px;
    margin: 5px 15px;
    border-radius: 12px;
    color: aliceblue;
    background-color: rgb(75, 0, 226);
}

.box-text-chat-user {
    background-color: black;
}

.text-chat-date {
    padding: 2px;
    font-size: .7rem;
}

.text-chat-name {
    font-size: 1rem;
}

.box-input-chat {
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.input-chat {
    border: none;
    outline: none;
    width: 70%;
    margin: 15px;
    padding: 10px;
    border-radius: 7px;
    font-size: 1rem;
}

.btn-chat {
    border: none;
    padding: 10px;
    font-weight: 600;
    color: aliceblue;
    background-color: rgb(75, 0, 226);
}


/* 유저 프로필 모달 */
.container-profile-modal {
    display: none;
}

.wrap-profile-modal {
    display: inline-block;
    padding: 30px 30px;
    border-radius: 14px;
    background-color: gainsboro;
}

.box-close-modal {
    float: right;
    color: aliceblue;
    background-color: transparent;
}

.btn-profile-modal {
    border: none;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
}

.box-profile-modal {
    display: flex;
}

.box-text-modal {
    margin-left: 20px;
}

.box-text-modal>span {
    display: block;
}

.box-btn-modal>button {
    border: none;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    color: aliceblue;
    font-size: 1rem;
    background-color: rgb(75, 0, 226);
}

.box-btn-modal>button:hover {
    font-weight: 700;
}


/* Main */

/* 배너 */
.box-banner-main {
    width: 90%;
    margin: auto;
}

.img-banner-main {
    width: 100%;
}

.wrap-search-main {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

/* 검색 */
.box-search-main {
    display: flex;
    width: 40%;
    padding: 10 0px;
    border: 2px solid;
    border-color: transparent transparent black transparent;
    /* background-color: aqua; */
}

.box-search-tag {
    background-color: cyan;
}

.input-search-main {
    outline: none;
    border: none;
    width: 100%;
    margin: 0 10px;
    padding: 10px;
    background-color: transparent;
    font-size: 1.2rem;

}

.btn-search-main {
    border: none;
    outline: none;
    width: 10%;
    font-size: 1.2rem;
    background-color: transparent;
}

.btn-search-main:hover {
    font-weight: 700;
    cursor: pointer;
}


/* 정렬 */
.box-dropdown-align-main {
    position: relative;
    display: inline-block;
    width: 100px;
    text-align: center;
}

.box-dropdown-align-main:hover .dropdown-content-main {
    display: block;

}

.btn-dropdown-main {
    border: none;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-content-main {
    display: none;
    position: absolute;
    width: 100px;
    padding: 10px;
    z-index: 1;
    background-color: white;
}

.dropdown-content-main>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    color: black;
}

.dropdown-content-main>a:hover {
    color: rgb(75, 0, 226);
}


/* 카드 섹션  전체 */
.container-card-section-main {
    margin-top: 5%;
    /* background-color: antiquewhite; */
}

/* 카드 섹션 */
.wrap-card-section-main {
    /* background-color: burlywood; */
    width: 90%;
    margin: 3% auto 0 auto;
}

.text-title-section-main {
    margin: 0 8%;
    /* background-color: cadetblue; */
}

.text-title-suggest {
    font-size: 1.2rem;
    color: rgb(75, 0, 226);
}

.text-title-project {
    font-size: 1.2rem;
    color: black;
}

/* 카드 섹션 라인: 나의 프로젝트 */
.container-card-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    /* background-color: cornsilk; */
}

/* 카드 */
.wrap-card-project {
    width: 20%;
    margin: 0 4%;
    padding: 20px;
    background-color: white;
}

.wrap-card-project-suggest {
    width: 20%;
    margin: 0 4%;
    padding: 20px;
    background-color: #d0ceff;
}

.box-card-content-project {
    /* background-color: antiquewhite; */
}

.img-card-thumnail-mypage {
    width: 100%;
}

.card-text {
    display: block;
    margin: 10px 0;
    word-break: keep-all;
}

.text-title-card-project {
    /* background-color: aliceblue; */
}

.text-indroduce-card-project {
    font-size: .8rem;
}

.wrap-writer-mypage {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: cadetblue; */
}

.text-writer-mypage {
    margin-right: 10px;
}

.btn-chat-mypage {
    border: none;
    outline: none;
    padding: 5px 12px;
    font-weight: 600;
    border-radius: 30px;
    color: aliceblue;
    background-color: rgb(75, 0, 226);
}

.btn-bookmark-main {
    border: none;
    outline: none;
    font-size: 24px;
    background-color: transparent;
}

/* 페이지네이션 */
.box-btn-page-main {
    display: flex;
    justify-content: center;
    padding: 40px;
    /* background-color: aqua; */
}

.btn-page-main {
    margin: 0 20px;
    font-size: 2rem;
    font-weight: 300;
}

.btn-page-main:hover {
    font-weight: 400;
    color: rgb(75, 0, 226);
}

;
}