* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background-color: #EFEFEF;
}

.container-mypage {
    display: flex;
    margin: 5% 0 0 3%;
    /* background-color: beige; */
}


/* Aside: Profile */
.container-profile-user {
    width: 25%;
    /* background-color: cadetblue; */
}

.box-card-profile {
    display: flex;
    width: 100%;
    /* background-color: aliceblue; */
}

.box-img-profile-mypage {
    width: 45%;
    display: flex;
}

.img-profile-mypage {
    width: 100%;
    min-width: 100px;
    object-fit: contain;
}

.wrap-text-profile-mypage {
    width: 50%;
    margin-left: 4%;
    /* background-color: antiquewhite; */
}

.text-profile-mypage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    /* background-color: aliceblue; */
}

.text-user-name-mypage {
    padding: 0 0 5px 0;
    font-weight: 700;
}

.text-user-stack-mypage,
.text-user-github-mypage,
.text-user-region-mypage,
.text-user-meettime-mypage {
    padding: 3px 0;
    font-size: .8rem;
}

.text-user-stack-mypage>div {
    margin: 1% 2% 1% 0;
    padding: 1% 2%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.text-user-github-mypage>a {
    display: flex;
}

.img-github-mypage {
    min-width: 20px;
    width: 9%;
    margin-right: 2%;
}

.text-user-github-mypage>a:link,
a:visited {
    text-decoration: none;
    cursor: pointer;
}

.text-user-github-mypage>a:link,
a:visited,
a:link:active,
a:visited:active {
    color: inherit;
}

.box-text-introduce {
    margin-top: 20px;
    padding: 16px;
    word-break: keep-all;
    background-color: white;
}

.box-btn-modify-mypage {
    margin: 20px 0;
}

.btn-modify-mypage {
    border: none;
    outline: none;
    padding: 10px 12px;
    color: aliceblue;
    background-color: black;
    cursor: pointer;
}


/* Main: Card Section */

/* 전체 카드 섹션*/
.container-card-mypage {
    width: 70%;
    margin: 0 0 0 2%;
    /* background-color: aquamarine; */
}

/* 전체 카드 섹션 타이틀 포함 wrap */
.wrap-card-section-mypage {
    /* background-color: aliceblue; */
}

.text-title-section-myproject {}

.text-title-section-myproject>span {
    font-size: 1.2rem;
}

/* 카드 섹션 라인: 나의 프로젝트 */
.container-card-section-myproject {
    /* display: flex; */
    /* padding: 20px; */
    /* background-color: aquamarine; */
    position: relative;
    margin: 2% auto;
    width: 960px;
    height: 400px;
    overflow: hidden;
}

.container-card-section-mybookmarkproject {
    /* display: flex; */
    /* padding: 20px; */
    /* background-color: aquamarine; */
    position: relative;
    margin: 2% auto;
    width: 960px;
    height: 450px;
    overflow: hidden;
}

.myproject-slides,
.mybookmarkproject-slides {
    position: absolute;
    left: 0;
    top: 0;
}

.myproject-slides.animated,
.mybookmarkproject-slides.animated {
    transition: 0.5s ease-out;
}

.prev,
.next,
.prev-bookmark,
.next-bookmark {
    display: none;
    background: rgb(140, 140, 140);
    color: #fff;
    padding: 0 10px;
    margin: 0 7px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

/* 카드 */
.wrap-card-project {
    width: 300px;
    height: 450px;
    margin-right: 20px;
    padding: 20px;
    background-color: white;
    float: left;
}

.box-card-content-project {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
}

.img-card-thumnail-mypage {
    width: 100%;
    height: 160px;
    object-fit: scale-down;
    object-position: center;
    cursor: pointer;
    margin: 0 auto;
}

.card-text {
    display: block;
    margin: 10px 0;
    word-break: break-all;
}

.box-text-card-project {
    width: 100%;
}

.text-title-card-project {
    /* background-color: aliceblue; */
    width: 100%;
    height: 30px;
}

.text-indroduce-card-project {
    width: 100%;
    height: 50px;
    font-size: .8rem;
}

/* 스킬 아이콘 WARP */
.text-stack-card-project {
    width: 100%;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

/* 스킬 아이콘 */
.text-stack-card-project>div {
    height: 25px;
    font-size: .8rem;
    padding: 2px 8px;
    margin: 0 3px 3px 0;
    border-radius: 10px;
    background-color: rgb(4, 73, 201);
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
}

/* 프로젝트 정보(조회,댓글,북마크) */
.project-information {
    display: flex;
    align-items: center;
}

.project-information>div {
    font-size: 1rem;
    margin: 0 15% 0 0;
}

.wrap-writer-mypage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    /* background-color: cadetblue; */
}

.text-writer-mypage {
}

.btn-chat-mypage {
    border: none;
    outline: none;
    padding: 5px 12px;
    font-weight: 600;
    border-radius: 30px;
    color: aliceblue;
    background-color: rgb(75, 0, 226);
}

.btn-bookmark-main {
    border: none;
    outline: none;
    font-size: 1.1rem;
    background-color: transparent;
    cursor: pointer;
}