* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

.wrap-nav {
    display: flex;
    justify-content: space-between;
}

.box-logo-nav {
    cursor: pointer;
}

.title {
    margin-left: 30px;
    font-size: 2.4rem;
}

.box-search-nav {
    display: flex;
    align-items: center;
}

.input-search-nav,
.btn-search-nav {
    height: 50%;
    outline: none;
    border: none;
    color: aliceblue;
    background-color: transparent;
}

.input-search-nav {
    width: 400px;
    font-size: 1rem;
    border-bottom: solid 1px rgb(255, 255, 255);
}

.input-search-nav::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.btn-search-nav {
    padding: 20px;
    font-size: 1.2rem;
}

.btn-search-nav:hover {
    cursor: pointer;
    font-weight: 700;
}

.wrap-category-nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

.category-nav {
    margin: 30px;
    font-size: 1.5rem;
}

.text-category-nav {
    cursor: pointer;
}

.text-category-nav::after {
    display: block;
    content: '';
    border-bottom: solid 4px rgb(75, 0, 226);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: left;
}

.text-category-nav:hover::after {
    transform: scaleX(1);
}