* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background-color: #EFEFEF;
}

button {
    outline: none;
    border: none;
}

input {
    outline: none;
    border: none;
}

.container-project-post-detail {
    padding: 2%;
}

.wrap-project-post-detail {
    width: 65%;
    margin: auto;
    padding: 5% 5% 0;
    background-color: white;
}


/* 상단 썸네일 */
.wrap-thumnail-post-detail {
    display: block;
}

.wrap-upper-post-detail {
    margin-bottom: 50px;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.wrap-content-project-detail {
    margin-bottom: 8%;
}

.wrap-title-first-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.box-title-info-detail {
    display: flex;
}

.text-title-project-detail {
    font-size: 2rem;
    font-weight: 400;
}

.wrap-date-bookmark {
    display: flex;
    align-items: center;
}

.box-date-project-detail {
    padding: 0 20px;
}

.box-bookmark-project-detail {
    text-align: center;
    font-size: 2rem;
}

.box-bookmark-project-detail:hover {
    color: yellow;
}

.wrap-title-second-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.box-link-profile-detail {
    display: flex;
    align-items: center;
}

.img-github-project-detail {
    margin: 0 10px;
}

.link-github-a-tag:link {
    text-decoration: none;
    outline: none;
    color: black;
}

.link-github-a-tag:hover {
    color: rgb(75, 0, 226);
}

.link-github-a-tag:visited {
    color: black;
}


/* skills */
.text-stack-project-detail {
    padding: 3px 10px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: rgb(75, 0, 226);
    color: whitesmoke;
    text-align: center;
}


/* 버튼 */
.box-btn-detail {
    display: flex;
    justify-content: flex-end;
}

.box-btn-detail>button {
    margin: 20px 10px;
    padding: 16px 24px;
    border-radius: 30px;
    font-size: 1.2rem;
    color: aliceblue;
}

.btn-modify-detail {
    background-color: rgb(75, 0, 226);
}

.btn-delete-detail {
    background-color: crimson;
}

.btn-modify-detail:hover,
.btn-delete-detail:hover {
    font-weight: 600;
}


/* 댓글 */
.wrap-reply-detail {
    width: 65%;
    margin: auto;
}

.box-reply-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 14px;
    font-size: 1.2rem;
    background-color: white;
}

.box-reply-user {
    width: 80%;
}

.input-reply-detail {
    width: 90%;
    margin: 0 10px;
    font-size: 1.2rem;
}

.btn-reply-detail {
    padding: 10px 12px;
    color: aliceblue;
    background-color: black;
}

.btn-reply-detail:hover {
    font-weight: 700;
    background-color: rgb(75, 0, 226);
    ;
}

.wrap-comment-detail {
    margin: 40px 0;
}

.text-title-comment-detail {
    font-size: 2.4rem;
    font-weight: 400;
}

.box-comment-detail {
    margin: 20px 0;
    padding: 14px;
    background-color: white;
}

.box-comment-content-detail {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 10px;
}

.wrap-comment-content-detail {
    display: block;
}

.comment-content-detail {
    font-weight: 300;
}

.comment-content-detail-input {
    width: 100%;
    margin: 2px 0;
    padding: 10px;
    font-weight: 300;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
}

.box-btn-comment-content {
    margin: 8px 0;
}

.box-btn-comment-content>button {
    margin-right: 5px;
    padding: 5px 7px;
}

.btn-delete-comment-detail:hover {
    color: aliceblue;
    background-color: crimson;
}

.btn-modify-comment-detail:hover {
    color: aliceblue;
    background-color: black;
}