<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Toast UI Editor -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

    <!-- CSS Import -->
    <link rel="stylesheet" href="/static/css/insert_project.css">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <nav id="bar-nav">
        <script>$("#bar-nav").load("/templates/nav.html");</script>
    </nav>
    <section class="container-project-post">
        <div class="wrap-project-post">
            <div class="box-title-post">
                <h1>나의 프로젝트 등록하기</h1>
            </div>
            <div class="box-title-project">
                <input type="text" id="title" class="title-project-post" placeholder="프로젝트 제목을 입력하세요">
            </div>
            <div class="box-info-project">
                <input type="text" id="description" class="info-project-post" placeholder="프로젝트를 한줄로 설명해주세요!">
                <input type="text" id="git_hub_url" class="info-project-post" placeholder="프로젝트 레포지토리 주소">
                <div class="box-search-project-post">
                    <div class="box-search-tag"></div>
                    <input class="input-search-project-post" type="text" list="search-list" onkeyup="DrawSkillTag()"
                        placeholder="기술스택으로 검색해보세요. ">
                    <datalist id="search-list">
                        <!--<option value="Python" />-->
                    </datalist>
                    <br>
                    <div class="box-thumnail-project-post">
                        <label for="thumnail_img_path">썸네일 이미지 선택</label>
                        <input class="img-thumnail-project-post" type="file" id="thumnail_img_path"
                            onchange="thumnail_image_preview(this)">
                    </div>
                    <div id="thumnail_img_preview">
                        <img class="img-base-project-post" src="/static/img/thumnail_base.png">
                    </div>
                </div>
            </div>
            <div id="editor"></div>

            <!-- <div id="viewer"></div> -->
            <div class="box-btn-project-post">

                <button class="btn-project-submit" onclick="insert_project()">프로젝트 등록하기!</button>
            </div>
        </div>
    </section>

    <script src="/static/js/_base.js"></script>
    <script src="/static/js/_baseinfo.js"></script>
    <script src="/static/js/insertproject.js"></script>

</body>

</html>