<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="content-box"><div>
    <div id="viewer"></div>
    <div id="bookmark"></div>
    

    <script src="/static/_base.js"></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
    function viewer() {
        const Editor = toastui.Editor;

        // 게시물 상세 조회 (id=54인 게시물 테스트용)
        fetch(`${backend_base_url}/project/54`,{
            headers: {
                Accept: "application/json",
                'content-type': "application/json",
                "Authorization": "Bearer " + localStorage.getItem("access")
            },
            method: 'GET',
        })
        .then(response=>{
            return response.json()
        })
        .then(json=>{
            const viewer = Editor.factory({
                el: document.querySelector('#viewer'),
                viewer: true,
                height: '500px',
                initialValue: json["content"]
            });

            // 북마크 버튼
            const payload = JSON.parse(localStorage.getItem("payload"));
            const bookmark_div = document.querySelector("#bookmark");
            bookmark_div.innerHTML = ``
            const bookmark_btn = document.createElement('div');
            bookmark_btn.className = 'bookmark_btn';
            
            if (json["bookmark"].includes(payload.user_id)){
                bookmark_btn.innerHTML = `<button type="button" onclick="bookmark(${json["id"]})">♥</button>`
            } else {
                bookmark_btn.innerHTML = `<button type="button" onclick="bookmark(${json["id"]})">♡</button>`
            }
            bookmark_div.append(bookmark_btn)

        })
    }
    viewer()

    function bookmark(project_id) {
        fetch(`${backend_base_url}/project/${project_id}/bookmark/`,{
            headers: {
                Accept: "application/json",
                'content-type': "application/json",
                "Authorization": "Bearer " + localStorage.getItem("access")
            },
            method: 'POST',
        })
        viewer()
    }
    </script>
</body>
</html>